[run]
omit =
    *migrations*
    *tests*
    /usr/*
    */env/*
    */urls.py
    honey_money/fixtures/*
    honey_money/apps/accounts/api/authentication.py
    honey_money/apps/common/management/commands/generate_secretkey.py
    honey_money/apps/common/management/commands/startapp.py
    honey_money/apps/common/utils/redis.py
    honey_money/loggers.py
    honey_money/wsgi.py
    */admin.py

[report]
exclude_lines =
    noqa
    pragma: no cover
    def __unicode__
    def __repr__
    def __str__
    if settings\.DEBUG
    raise AssertionError
    raise NotImplementedError
    assert

show_missing = True
